:root {
  --color-primary: #2c97f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(25 25 25) 63%, rgba(44,151,242,1) 100%);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
}

li {
  list-style: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}