.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.channel-list {
  display: flex;
  gap: 20px;
  width: calc(100% - 40px);
  margin: 100px 0 0 0;
}

.container {
  margin: 100px 0 0 0;
}